body{
    color: rgb(247, 251, 252);
    text-align: center;
    font-family: 'Gulzar', serif;
    background-image: url(donate-today-main/images/donation13.jpg);
    font-size: 30px;
    background-size: 100% 150%;
    background-repeat: no-repeat;
}
.button{
    background-color: #9baf4c;
}